# .NET
bin/
obj/
.vs/

# Config sensibles
appsettings.Development.json
appsettings.*.json

# excepto el base
!appsettings.json

# Node / React
node_modules/
dist/
dist-ssr/
.cache/
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/extensions.json
.idea/

# Otros
*.local
.env
.env.*